<h1> Welcome</h1>
<app-pract></app-pract>
<div style = "width:100%;"> 
   <div style = "width:40%;float:left;border:solid 1px black;"> 

<!-- <P>Angular Basics </P> -->
<p>{{name}}</p>
<input type="text" [(ngModel)]="name">
<br>
<br>
<div> Months :
    <select>
       <option *ngFor = "let i of months">{{i}}</option>
    </select>
 </div>
 <br/>
 
 <div>
    <span *ngIf = "isavailable; then condition1 else condition2">Condition is valid.</span>
    <ng-template #condition1>Condition valid</ng-template>
    <ng-template #condition2>Condition invalid</ng-template> 
 </div>
 <button (click)="myClickFunction($event)">Click Me</button>
 <app-server></app-server>
 </div>
 </div>
 <app-user></app-user>

 Assinment 
 <app-admin></app-admin>



 <div class="container">
   <div class="row">
     <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
       <form (ngSubmit)="onSubmit()" #f="ngForm">
          <!-- f is nothing but local referance of form  -->
         <div id="user-data">
           <div class="form-group">
             <label for="username">Username</label>
             <input 
             type="text"
             id="username" 
            class="form-control"
            ngModel
            name= "username"
            required>
           </div>
           <button class="btn btn-default" type="button">Suggest an Username</button>
           <div class="form-group">
             <label for="email">Mail</label>
             <input 
             type="email" 
             id="email" 
             class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel">
              <span class="help-block" *ngIf="!email.valid && email.touched">please enter valid email! </span>
           </div>
         </div>
         <div class="form-group">
           <label for="secret">Secret Questions</label>
           <select 
           id="secret"
            class="form-control"
            ngModel
            name="secret">
             <option value="pet">Your first Pet?</option>
             <option value="teacher">Your first teacher?</option>
           </select>
         </div>
         <p *ngIf="">Please enter a valid  value!</p>
         <button 
         class="btn btn-primary" 
         type="submit"
         [disabled]="!f.valid">Submit</button>
       </form>
     </div>
   </div>
 </div>
 