<h1> Welcome</h1>

<div style = "width:100%;"> 
   <div style = "width:40%;float:left;border:solid 1px black;"> 

<!-- <P>Angular Basics </P> -->
<p>{{name}}</p>
<input type="text" [(ngModel)]="name">
<br>
<br>
<div> Months :
    <select>
       <option *ngFor = "let i of months">{{i}}</option>
    </select>
 </div>
 <br/>
 
 <div>
    <span *ngIf = "isavailable; then condition1 else condition2">Condition is valid.</span>
    <ng-template #condition1>Condition valid</ng-template>
    <ng-template #condition2>Condition invalid</ng-template> 
 </div>
 <button (click)="myClickFunction($event)">Click Me</button>
 <app-server></app-server>
 </div>
 </div>
 <app-user></app-user>